<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DressTime.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>DressTimeUITests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>dominantColor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>013FD7621C889E6F0017B146</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01C454CC1B5935B3003D5E41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01C454E41B5935B3003D5E41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01C455351B597F25003D5E41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01C4553F1B597F25003D5E41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
